
/*start variablesw*/

    :root{
        --main-color:#10cab7;
        --secondry-color: #2c4755;
    }

/*end variablesw*/


/*start global rules*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    
    font-family: 'Work Sans', sans-serif;
}

.container{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

/*small*/
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
/*medium*/
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
/*large*/
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
/*end global rules*/

/*start components*/

    .special-heading{
        color: #ebeced;
        font-size: 80px;
        text-align: center;
        font-weight: 800;
        letter-spacing: -3px;
        margin: 0;
    }

    .special-heading + p{
        margin: -30px;
        font-size: 20px;
        text-align: center;
        color: #797979;
    }

    @media (max-width: 767px){
        .special-heading{
            font-size: 60px;

        }
        .special-heading +p{
            margin-top: -20px;
        }
    }

/*end components*/



/*start header*/

.header{
    padding: 20px;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .links{
    position: relative;

}



.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
    
}

.header .links .icon span:first-child{
    width: 100%;
}

.header .links .icon span:nth-child(2){
    
    width: 60%;
    transition: 0.3s;
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
    }

.header .links .icon span:last-child{
    
    width: 100%;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;

}

.header .links ul li a:hover{
     padding-left: 25px;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/*end header*/


 /*start landig section*/

    .landing{
        background-image: url(../images/logo-00.png);
        background-size:cover;
        height: calc(100vh - 64px) ;
        position: relative;
       
    }

    @media(max-width: 767px){
        .landing {
            width: 100%;
            right: 0;
            overflow: hidden;
           
        }
      }

    .landing .intro-text{
        position: absolute;
        left: 16%;
        top: 60%;
     
        transform: translate(-50%, -50%);
        width: 320px;
        max-width: 100%;
      

    }

    @media(max-width: 767px){
        .landing .intro-text {
           margin-left: 160px;
           
        }
      }

    .landing .intro-text h1{
        margin: 0;
        font-weight: bold;
        font-size: 45px;
        color: var(--main-color);
    }


    .landing .intro-text p{
        font-size: 19px;
        line-height: 1.8;
    }
  /*end landig section*/

  /*start features*/

  .features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }

  @media(max-width: 767px){
    .features {
        width: 100%;
        height: 100%;
        right: 0;
    }
  }

  .features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px; ;
  }

  .features .feat i{
    color: var(--main-color);
  }

  .features .feat h3{
    font-size: 800;
    margin: 30px 0;
  }

  .features .feat p{
    line-height: 1.6;
    color: #373636;
    font-size: 13px;
    
  }
  /*end features*/

  /*start services*/

  .services{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media(max-width: 767px){
    .services {
        width: 100%;
        height: 100%;
    }
  }

  

 .services .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
    grid-gap: 30px;
    margin-top: 120px;
 }

 .services .services-content .sev{
    display: flex;
    margin-bottom: 40px;

 }
@media(max-width:767px){
    .services .services-content .sev{
        flex-direction: column ;
        text-align: center;
    }
}

.services .services-content .sev i{
    color: var(--main-color);
    flex-basis: 60px;
} 

.services .services-content .sev .text{
    flex: 1;
}

.services .services-content .sev .text h3{
    margin: 20px;
}
.services .services-content .sev .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    font-size: 15px;
}

.services .services-content .image{
    top: 60px;
    text-align: center;
    position: relative;

}

.services .services-content .image::before{
content: "";
background-color: var(--secondry-color);

width: 80px;
height: calc(100% + 100px);
top: -50px;
position: absolute;
right: 0;
z-index: -1;
}
.services .services-content .image img{
    width: 350px;
}

@media(max-width: 1199px){
   .image-column{
    display: none;
    }
}

  /*start services*/


  /*start protfolib*/

  .protfolib{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
  }

  @media(max-width: 767px){
    .protfolib {
        width: 100%;
        height: 100%;
        right: 0;
    }
  }

  .protfolib .protfolib-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 80px;
   
  }

  .protfolib .protfolib-content .card{
    background-color: #f6f6f6;
  }

  .protfolib .protfolib-content .card img{
    max-width: 100%;
  }

  .protfolib .protfolib-content .card .info {
    padding: 5px;
  }

  .protfolib .protfolib-content .card .info h3{
    color: var(--main-color);
    margin: 0;
  }

  .protfolib .protfolib-content .card .info p{
    color: #777;
    line-height: 1.6;
    margin: 0;
  }

  /*end protfolib*/


  /*star about*/  
  
    .about{
        padding-top: 60px;
        padding-bottom: calc(60px +60px);
    }

    @media(max-width: 767px){
        .about {
            width: 100%;
            height: 100%;
            right: 0;
        }
      }

    .about .about-content{
        margin-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    
    @media(max-width: 991px){
        .about .about-content{
            flex-direction: column;
            text-align: center;
        }
    }

    .about .about-content .image{
        position: relative;
        width: 300px;
        height: 375px;
        

    }

    @media(max-width: 991px){
        .about .about-content .image{
            margin: 0 auto 80px;
            height: 150px;

        }
    }

    .about .about-content .image::before{
        content: "";
        position: absolute;
        background-color: #cecece;
        width: 50px;
        height: calc(200px + 40px ) ;
        top: -12px;
        left: -13px;
        z-index: -1;
        

    }

    .about .about-content .image::after{
        content: "";
        position: absolute;
        width: 80px;
        height: 158px;
        border-left: 60px solid var(--main-color);
        border-bottom: 56px solid var(--main-color);
        z-index: -1;
        right: -96px;
        top: -16px;
        

    }

    @media(max-width: 991px){
        .about .about-content .image::before,
        .about .about-content .image::after{
            display: none;
        }
    }

    .about .about-content .image img{
        max-width: 100%;
    }

    .about .about-content .text{
        flex-basis: calc(100% - 450px);
    }

  
  /*end about*/



    
  /*star contact*/
    .contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    }

    @media(max-width: 991px){
        .contact{
            flex-direction: column;
            text-align: center;
            width: 100%;
        }
    }

    .contact .info{
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
    }

    .contact .info .label{
        font-size: 40px;
        font-weight: 800;
        color: var(--secondry-color);
        letter-spacing: -2px;
        margin-bottom: 15px;
    }

    .contact .info .link{
        display: block;
        font-size: 40px;
        font-weight: 800;
        color: var(--main-color);
        text-decoration: none;

    }

    .contact .info .social{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-size: 18px;

    }

    .contact .info .social i{
        margin-left: 10px;
        

    }

    @media(max-width:767px){
        .contact .info .link,
        .contact .info .label{
            font-size: 15px;
            
           
        }

    }

  

   /*star contact*/

 




   /*---------------------------------------*/


   .footer{
    
    background-color: #7aa3ae;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin: 15px ;
    
}

@media(max-width:767px){
    .footer{
        font-size: 10px;
    width: 100%;
    height: 72px;
        
    }
}

@media(max-width:376px){
    .footer{
        font-size: 13px;
        width: 100%;
        height: 72px;
        margin-bottom: 15px;
    }
}




.footer-title{
    
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #05257f;
}


.footer .social-icons {
    margin-top: 20px;
    margin-right: 18px;
}












